<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %} - Bakery Good Bread</title>
    {% endblock %}
</head>
<body>
  <div class="container">
  <header>
  <a href="index.html">
    <img class="logo" src="/static/images/logo.png" alt="Logo bakery good bread">
  </a>
  <span>Bakery Good Bread</span>
  </header>
    <div id="content">{% block content %}{% endblock %}</div>
  </div>
  </body>
</html>