{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<main>
  <section class="section-form">
    <form action="/" method="POST" class="form-group">
      <div>
        <label for="fproduct">Produto:</label>
        <input type="text" id="fproduct" name="fproduct" />
      </div>
      <div>
        <label for="fquantity">Quant.:</label>
        <input type="number" id="fquantity" name="fquantity" />
      </div>
      <div>
        <label for="fprice">Preço:</label>
        <input type="number" id="fprice" name="fprice" step="0.01"/>
      </div>
      <div class="add">
        <button type="submit"><img src="static/images/add.svg"/></button>
      </div>
    </form>
  </section>
  <section class="section-products">
    <table cellpadding="0" cellspacing="0">
      <thead>
        <tr class="header-table">
          <th>Código</th>
          <th class="products">Produto</th>
          <th>Qtd (UN)</th>
          <th>Preço</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr >
          <td>{{item['id']}}</td>
          <td class="products">{{item['product']}}</td>
          <td>{{item['quantity']}}</td>
          <td>{{item['price']}}</td>
          <td>
            <a href="{{ url_for('update', id=item.id) }}">
    <img src="/static/images/edit.svg" /></input></a>
            <a href="{{ url_for('remove', id=item.id) }}"><img src="/static/images/delete.svg" /></input></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan=3>Total</td>
          <td colspan=2>{{total}}</td>
        </tr>
      </tfoot>
    </table>
  </section>
</main>
{% endblock %}