{% extends "base.html" %}
{% block title %}Editar Produto{% endblock %}
{% block content %}
<main>
  <section class="section-form">
    <form action="/update/{{item['id']}}" method="POST" class="form-group">
      <div>
        <label for="fproduct">Produto:</label>
        <input type="text" id="fproduct" name="fproduct" value="{{item['product']}}" />
      </div>
      <div>
        <label for="fquantity">Quant.:</label>
        <input type="number" id="fquantity" name="fquantity" value="{{item['quantity']}}"/>
      </div>
      <div>
        <label for="fprice">Preço:</label>
        <input type="number" id="fprice" name="fprice" value="{{item['price']}}" />
      </div>
      <div class="save">
         <button type="submit"><img src="/static/images/save.svg"/></button>
      </div>
    </form>
  </section>
</main>
{% endblock %}